<%provide(:title, "Channel #{@device.name} at #{@device.address}:#{@device.port}") %>

<h1 class="page-header">Watching from device <%= @device.name %></h1>
<div class="video-container">
	<embed type="application/x-vlc-plugin"
	name="video"
	autoplay="no" loop="yes" width="720" height="480"
	target="rtsp://<%= "#{@device.address}:#{@device.port}" %>" />
	<div class="video-controller"> 
	<a class="btn btn-primary btn-lg glyphicon glyphicon-play" href="javascript:;" onclick='document.video1.play()'></a>

		<a class="btn btn-primary btn-lg glyphicon glyphicon-pause" href="javascript:;" onclick='document.video1.pause()' title="play/pause"></a>
		<a class="btn btn-primary btn-lg glyphicon glyphicon-stop" href="javascript:;" onclick='document.video1.stop()' title="stop"></a>
		<a class="btn btn-primary btn-lg glyphicon glyphicon-fullscreen" href="javascript:;" onclick='document.video1.fullscreen()' title="Full screen"></a>
	</div>
</div>