<div class="slider">
	<div class="jumbotron"><h1>WELCOME TO BKSTREAMING</h1>
		<p>Please click the button below to sign-up, or sign in <a href="<%= signin_path %>">here</a>
		</p>
		<a href="<%= signup_path %>" class="btn btn-danger btn-lg %>"> Sign Up</a>
	</div>
</div>
